:root {
  color-scheme: dark;
  font-family: system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #242424;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen {
  height: 500px;
  width: 800px;
  max-height: 100%;
  max-width: 100%;

  background: black;
  border-radius: 16px;
}

#cursor {
  position: absolute;
  height: var(--height);
  width: var(--width);
  left: var(--left);
  top: var(--top);
  border-radius: var(--rounded);

  border: 2px solid dodgerblue;
  transition-property: left, top, border-radius;
  transition-duration: 200ms;
}

#map {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #343434;
  font-size: 14px;
  text-align: center;
  font-family: CascadiaCode
}