:root {
  color-scheme: dark;
  font-family: system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #242424;
  color: white;
}

#screen {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  background: black;

  padding: 8px;
  border-radius: 16px;
}

#cursor {
  position: absolute;
  height: var(--height);
  width: var(--width);
  left: var(--left);
  top: var(--top);
  border-radius: var(--rounded);

  border: 2px solid dodgerblue;
}

#map {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 48px;
  background: #343434;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  font-family: CascadiaCode
}